<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

<bean id = "engObj" class = "com.engspr.Engine">
      <constructor-arg value = "1000"/>
       <constructor-arg value = "rolls-royce"/>
       </bean>

   <bean id = "carObj" class = "com.carspr.Car">
      <constructor-arg value = "2077" />
       <constructor-arg ref = "engObj" />
        <constructor-arg value = "black" />
   </bean>

</beans>